In [17]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix, roc_curve, roc_auc_score, ConfusionMatrixDisplay

In [7]:
# data

company_name_list = [{'name': 'Company 1'},
          {'name': 'Company 2'},
          {'name': 'Company 3'}]

employee_name_list = [{'name': 'John Doe'},
          {'name': 'Tom Smith'},
          {'name': 'Andrew Sebastian'}]

company_detail_list = {
      'Company 1': {
          'name': 'Company 1',
          'domain': 'Retail',
          'clients': [
              {
                  'name': 'acme.inc',
                  'country': 'united states'
              },
              {
                  'name': 'Wayne.co',
                  'country': 'united states'
              }
          ]
      },
      'Company 2': {
          'name': 'Company 2',
          'domain': 'Construction',
          'clients': [
              {
                  'name': 'Tesla',
                  'country': 'united states'
              },
              {
                  'name': 'Japan Airlines',
                  'country': 'japan'
              },
              {
                  'name': 'Indofood',
                  'country': 'indonesia'
              }
          ]
      },
      'Company 3': {
          'name': 'Company 3',
          'domain': 'Healthcare',
          'clients': [
              {
                  'name': 'Petronas',
                  'country': 'malaysia'
              },
              {
                  'name': 'VW Group',
                  'country': 'germany'
              },
              {
                  'name': 'IBM',
                  'country': 'united states'
              },
              {
                  'name': 'Mitsubishi',
                  'country': 'japan'
              }
          ]
      }
  }

employee_detail_list = {
      'John Doe': {
          'name': 'EMP-0001',
          'first_name': 'John',
          'last_name': 'Doe',
          'full_name': 'John Doe',
          'company': 'Company 1'
      },
      'Tom Smith': {
          'name': 'EMP-0002',
          'first_name': 'Tom',
          'last_name': 'Smith',
          'full_name': 'Tom Smith',
          'company': 'Company 2'
      },
      'Andrew Sebastian': {
          'name': 'EMP-0003',
          'first_name': 'Andrew',
          'last_name': 'Sebastian',
          'full_name': 'Andrew Sebastian',
          'company': 'Company 2'
      },
  }

### 1

In [10]:
# Extract company details and sort by domain in reverse order
sorted_companies = sorted(company_detail_list.values(), key=lambda x: x['domain'], reverse=True)

# Create a list of dictionaries with name and domain
result = [{"name": company['name'], "domain": company['domain']} for company in sorted_companies]

print(result)

[{'name': 'Company 1', 'domain': 'Retail'}, {'name': 'Company 3', 'domain': 'Healthcare'}, {'name': 'Company 2', 'domain': 'Construction'}]

### 2

In [11]:
for company_data in company_detail_list.values():
    company_name = company_data['name']
    domain = company_data['domain']
    num_clients = len(company_data['clients'])
    print(f"{company_name}: {domain}, relation: {num_clients} clients")

Company 1: Retail, relation: 2 clients
Company 2: Construction, relation: 3 clients
Company 3: Healthcare, relation: 4 clients

### 3

In [12]:
def get_employee_details():
    employee_details = []
    for employee_data in employee_detail_list.values():
        employee_name = employee_data['full_name']
        company_name = employee_data['company']
        domain = company_detail_list[company_name]['domain']
        employee_details.append({
            "full_name": employee_name,
            "company": company_name,
            "domain": domain
        })
    return employee_details

# Call the function and print the result
print(get_employee_details())

[{'full_name': 'John Doe', 'company': 'Company 1', 'domain': 'Retail'}, {'full_name': 'Tom Smith', 'company': 'Company 2', 'domain': 'Construction'}, {'full_name': 'Andrew Sebastian', 'company': 'Company 2', 'domain': 'Construction'}]

In [13]:
def get_companies_with_employees():
    companies_with_employees = []
    for company_data in company_detail_list.values():
        company_name = company_data['name']
        employees = [employee_data['full_name'] for employee_data in employee_detail_list.values() if employee_data['company'] == company_name]
        companies_with_employees.append({
            "company": company_name,
            "employees": employees
        })
    return companies_with_employees

# Call the function and print the result
print(get_companies_with_employees())

[{'company': 'Company 1', 'employees': ['John Doe']}, {'company': 'Company 2', 'employees': ['Tom Smith', 'Andrew Sebastian']}, {'company': 'Company 3', 'employees': []}]

### Soal pre-processing data

### 1

In [21]:
import pandas as pd

# Membaca dataset
data = pd.read_csv('50_startups.csv')

# Melakukan analisis kolom mana yang memiliki data kosong (NaN)
kolom_dengan_nan = data.columns[data.isnull().any()]

# Menghitung nilai mean untuk kolom-kolom dengan data kosong
nilai_mean = data[kolom_dengan_nan].mean()

# Mengisi data kosong dengan nilai mean
data.fillna(nilai_mean, inplace=True)

# Menyimpan dataset yang sudah diisi nilai mean ke file CSV
data.to_csv('50_startups.csv', index=False)

data

     R&D Spend  Administration  Marketing Spend       State         Profit
0   165349.200   136897.800000    471784.100000    New York  192261.830000
1   162597.700   151377.590000    443898.530000  California  191792.060000
2   153441.510   101145.550000    407934.540000     Florida  191050.390000
3   144372.410   118671.850000    383199.620000    New York  182901.990000
4   142107.340    91391.770000    366168.420000     Florida  166187.940000
5   131876.900    99814.710000    362861.360000    New York  156991.120000
6   134615.460   147198.870000    127716.820000  California  156122.510000
7   130298.130   122790.158298    323876.680000     Florida  155752.600000
8   120542.520   148718.950000    311613.290000    New York  152211.770000
9   123334.880   108679.170000    304981.620000  California  149759.960000
10   76788.862   110594.110000    229160.950000     Florida  146121.950000
11  100671.960    91790.610000    249744.550000  California  144259.400000
12   93863.750   127320.380000    249839.440000     Florida  141585.520000
13   91992.390   135495.070000    252664.930000  California  111850.855208
14  119943.240   156547.420000    256512.920000     Florida  132602.650000
15  114523.610   122616.840000    261776.230000    New York  129917.040000
16   78013.110   121597.550000    264346.060000  California  126992.930000
17   94657.160   145077.580000    282574.310000    New York  125370.370000
18   91749.160   114175.790000    294919.570000     Florida  124266.900000
19   86419.700   153514.110000    223582.690222    New York  122776.860000
20   76253.860   113867.300000    298664.470000  California  118474.030000
21   78389.470   153773.430000    299737.290000    New York  111313.020000
22   73994.560   122782.750000    303319.260000     Florida  110352.250000
23   76788.862   105751.030000    223582.690222     Florida  108733.990000
24   77044.010   122790.158298    140574.810000    New York  108552.040000
25   64664.710   139553.160000    137962.620000  California  107404.340000
26   75328.870   144135.980000    134050.070000     Florida  105733.540000
27   72107.600   127864.550000    353183.810000    New York  105008.310000
28   66051.520   182645.560000    118148.200000     Florida  103282.380000
29   65605.480   153032.060000    107138.380000    New York  101004.640000
30   61994.480   115641.280000     91131.240000     Florida   99937.590000
31   76788.862   152701.920000     88218.230000    New York  111850.855208
32   63408.860   129219.610000     46085.250000  California   97427.840000
33   55493.950   103057.490000    214634.810000     Florida   96778.920000
34   46426.070   157693.920000    210797.670000  California   96712.800000
35   46014.020    85047.440000    205517.640000    New York   96479.510000
36   28663.760   127056.210000    201126.820000     Florida   90708.190000
37   44069.950   122790.158298    197029.420000  California   89949.140000
38   20229.590    65947.930000    223582.690222    New York   81229.060000
39   38558.510    82982.090000    174999.300000  California   81005.760000
40   28754.330   118546.050000    172795.670000  California   78239.910000
41   27892.920    84710.770000    164470.710000     Florida   77798.830000
42   23640.930    96189.630000    148001.110000  California   71498.490000
43   15505.730   127382.300000     35534.170000    New York   69758.980000
44   22177.740   154806.140000     28334.720000  California   65200.330000
45    1000.230   124153.040000      1903.930000    New York   64926.080000
46    1315.460   115816.210000    297114.460000     Florida   49490.750000
47   76788.862   135426.920000    223582.690222  California   42559.730000
48     542.050    51743.150000    223582.690222    New York   35673.410000
49   76788.862   116983.800000     45173.060000  California   14681.400000

### 2

In [25]:
import pandas as pd

# Membaca dataset
data = pd.read_csv('50_Startups.csv')

# Melakukan OneHotEncoding ke kolom 'State'
one_hot_encoded = pd.get_dummies(data['State'], prefix='State')

# Menggabungkan hasil OneHotEncoding ke dalam dataset
data = pd.concat([data, one_hot_encoded], axis=1)

# Menghapus kolom 'State' yang asli
data.drop('State', axis=1, inplace=True)

# Menyimpan dataset yang sudah diubah ke file CSV
data.to_csv('50_Startups.csv', index=False)
data

,R&D Spend,Administration,Marketing Spend,Profit,State_California,State_Florida,State_New York
0,165349.200,136897.800000,471784.100000,192261.830000,False,False,True
1,162597.700,151377.590000,443898.530000,191792.060000,True,False,False
2,153441.510,101145.550000,407934.540000,191050.390000,False,True,False
3,144372.410,118671.850000,383199.620000,182901.990000,False,False,True
4,142107.340,91391.770000,366168.420000,166187.940000,False,True,False
5,131876.900,99814.710000,362861.360000,156991.120000,False,False,True
6,134615.460,147198.870000,127716.820000,156122.510000,True,False,False
7,130298.130,122790.158298,323876.680000,155752.600000,False,True,False
8,120542.520,148718.950000,311613.290000,152211.770000,False,False,True
9,123334.880,108679.170000,304981.620000,149759.960000,True,False,False
10,76788.862,110594.110000,229160.950000,146121.950000,False,True,False
11,100671.960,91790.610000,249744.550000,144259.400000,True,False,False
12,93863.750,127320.380000,249839.440000,141585.520000,False,True,False
13,91992.390,135495.070000,252664.930000,111850.855208,True,False,False
14,119943.240,156547.420000,256512.920000,132602.650000,False,True,False
15,114523.610,122616.840000,261776.230000,129917.040000,False,False,True
16,78013.110,121597.550000,264346.060000,126992.930000,True,False,False
17,94657.160,145077.580000,282574.310000,125370.370000,False,False,True
18,91749.160,114175.790000,294919.570000,124266.900000,False,True,False
19,86419.700,153514.110000,223582.690222,122776.860000,False,False,True
20,76253.860,113867.300000,298664.470000,118474.030000,True,False,False
21,78389.470,153773.430000,299737.290000,111313.020000,False,False,True
22,73994.560,122782.750000,303319.260000,110352.250000,False,True,False
23,76788.862,105751.030000,223582.690222,108733.990000,False,True,False
24,77044.010,122790.158298,140574.810000,108552.040000,False,False,True
25,64664.710,139553.160000,137962.620000,107404.340000,True,False,False
26,75328.870,144135.980000,134050.070000,105733.540000,False,True,False
27,72107.600,127864.550000,353183.810000,105008.310000,False,False,True
28,66051.520,182645.560000,118148.200000,103282.380000,False,True,False
29,65605.480,153032.060000,107138.380000,101004.640000,False,False,True
30,61994.480,115641.280000,91131.240000,99937.590000,False,True,False
31,76788.862,152701.920000,88218.230000,111850.855208,False,False,True
32,63408.860,129219.610000,46085.250000,97427.840000,True,False,False
33,55493.950,103057.490000,214634.810000,96778.920000,False,True,False
34,46426.070,157693.920000,210797.670000,96712.800000,True,False,False
35,46014.020,85047.440000,205517.640000,96479.510000,False,False,True
36,28663.760,127056.210000,201126.820000,90708.190000,False,True,False
37,44069.950,122790.158298,197029.420000,89949.140000,True,False,False
38,20229.590,65947.930000,223582.690222,81229.060000,False,False,True
39,38558.510,82982.090000,174999.300000,81005.760000,True,False,False
40,28754.330,118546.050000,172795.670000,78239.910000,True,False,False
41,27892.920,84710.770000,164470.710000,77798.830000,False,True,False
42,23640.930,96189.630000,148001.110000,71498.490000,True,False,False
43,15505.730,127382.300000,35534.170000,69758.980000,False,False,True
44,22177.740,154806.140000,28334.720000,65200.330000,True,False,False
45,1000.230,124153.040000,1903.930000,64926.080000,False,False,True
46,1315.460,115816.210000,297114.460000,49490.750000,False,True,False
47,76788.862,135426.920000,223582.690222,42559.730000,True,False,False
48,542.050,51743.150000,223582.690222,35673.410000,False,False,True
49,76788.862,116983.800000,45173.060000,14681.400000,True,False,False

### 3

In [28]:
import pandas as pd

# Membaca dataset
data = pd.read_csv('50_Startups.csv')

# Menghitung nilai Tax sesuai rumus
data['Tax'] = (data['Profit'] + data['Marketing Spend'] + data['Administration']) * 0.05

# Menyimpan dataset yang sudah diubah ke file CSV
data.to_csv('50_Startups.csv', index=False)

data

,R&D Spend,Administration,Marketing Spend,Profit,State_California,State_Florida,State_New York,Tax
0,165349.200,136897.800000,471784.100000,192261.830000,False,False,True,40047.186500
1,162597.700,151377.590000,443898.530000,191792.060000,True,False,False,39353.409000
2,153441.510,101145.550000,407934.540000,191050.390000,False,True,False,35006.524000
3,144372.410,118671.850000,383199.620000,182901.990000,False,False,True,34238.673000
4,142107.340,91391.770000,366168.420000,166187.940000,False,True,False,31187.406500
5,131876.900,99814.710000,362861.360000,156991.120000,False,False,True,30983.359500
6,134615.460,147198.870000,127716.820000,156122.510000,True,False,False,21551.910000
7,130298.130,122790.158298,323876.680000,155752.600000,False,True,False,30120.971915
8,120542.520,148718.950000,311613.290000,152211.770000,False,False,True,30627.200500
9,123334.880,108679.170000,304981.620000,149759.960000,True,False,False,28171.037500
10,76788.862,110594.110000,229160.950000,146121.950000,False,True,False,24293.850500
11,100671.960,91790.610000,249744.550000,144259.400000,True,False,False,24289.728000
12,93863.750,127320.380000,249839.440000,141585.520000,False,True,False,25937.267000
13,91992.390,135495.070000,252664.930000,111850.855208,True,False,False,25000.542760
14,119943.240,156547.420000,256512.920000,132602.650000,False,True,False,27283.149500
15,114523.610,122616.840000,261776.230000,129917.040000,False,False,True,25715.505500
16,78013.110,121597.550000,264346.060000,126992.930000,True,False,False,25646.827000
17,94657.160,145077.580000,282574.310000,125370.370000,False,False,True,27651.113000
18,91749.160,114175.790000,294919.570000,124266.900000,False,True,False,26668.113000
19,86419.700,153514.110000,223582.690222,122776.860000,False,False,True,24993.683011
20,76253.860,113867.300000,298664.470000,118474.030000,True,False,False,26550.290000
21,78389.470,153773.430000,299737.290000,111313.020000,False,False,True,28241.187000
22,73994.560,122782.750000,303319.260000,110352.250000,False,True,False,26822.713000
23,76788.862,105751.030000,223582.690222,108733.990000,False,True,False,21903.385511
24,77044.010,122790.158298,140574.810000,108552.040000,False,False,True,18595.850415
25,64664.710,139553.160000,137962.620000,107404.340000,True,False,False,19246.006000
26,75328.870,144135.980000,134050.070000,105733.540000,False,True,False,19195.979500
27,72107.600,127864.550000,353183.810000,105008.310000,False,False,True,29302.833500
28,66051.520,182645.560000,118148.200000,103282.380000,False,True,False,20203.807000
29,65605.480,153032.060000,107138.380000,101004.640000,False,False,True,18058.754000
30,61994.480,115641.280000,91131.240000,99937.590000,False,True,False,15335.505500
31,76788.862,152701.920000,88218.230000,111850.855208,False,False,True,17638.550260
32,63408.860,129219.610000,46085.250000,97427.840000,True,False,False,13636.635000
33,55493.950,103057.490000,214634.810000,96778.920000,False,True,False,20723.561000
34,46426.070,157693.920000,210797.670000,96712.800000,True,False,False,23260.219500
35,46014.020,85047.440000,205517.640000,96479.510000,False,False,True,19352.229500
36,28663.760,127056.210000,201126.820000,90708.190000,False,True,False,20944.561000
37,44069.950,122790.158298,197029.420000,89949.140000,True,False,False,20488.435915
38,20229.590,65947.930000,223582.690222,81229.060000,False,False,True,18537.984011
39,38558.510,82982.090000,174999.300000,81005.760000,True,False,False,16949.357500
40,28754.330,118546.050000,172795.670000,78239.910000,True,False,False,18479.081500
41,27892.920,84710.770000,164470.710000,77798.830000,False,True,False,16349.015500
42,23640.930,96189.630000,148001.110000,71498.490000,True,False,False,15784.461500
43,15505.730,127382.300000,35534.170000,69758.980000,False,False,True,11633.772500
44,22177.740,154806.140000,28334.720000,65200.330000,True,False,False,12417.059500
45,1000.230,124153.040000,1903.930000,64926.080000,False,False,True,9549.152500
46,1315.460,115816.210000,297114.460000,49490.750000,False,True,False,23121.071000
47,76788.862,135426.920000,223582.690222,42559.730000,True,False,False,20078.467011
48,542.050,51743.150000,223582.690222,35673.410000,False,False,True,15549.962511
49,76788.862,116983.800000,45173.060000,14681.400000,True,False,False,8841.913000

### 4

In [29]:
import pandas as pd
from sklearn.preprocessing import StandardScaler

# Membaca dataset
data = pd.read_csv('50_Startups.csv')

# Pilih kolom yang ingin Anda skalakan
columns_to_scale = ['Profit', 'Marketing Spend', 'Administration', 'Tax']

# Inisialisasi StandardScaler
scaler = StandardScaler()
a
# Terapkan StandardScaler pada kolom-kolom yang dipilih
data[columns_to_scale] = scaler.fit_transform(data[columns_to_scale])

# Simpan dataset yang sudah diubah ke file CSV
data.to_csv('50_Startups.csv', index=False)

data

,R&D Spend,Administration,Marketing Spend,Profit,State_California,State_Florida,State_New York,Tax
0,165349.200,0.554318,2.299248,2.024298e+00,False,False,True,2.460946
1,162597.700,1.123258,2.040926,2.012472e+00,True,False,False,2.361311
2,153441.510,-0.850460,1.707769,1.993801e+00,False,True,False,1.737043
3,144372.410,-0.161817,1.478634,1.788670e+00,False,False,True,1.626770
4,142107.340,-1.233706,1.320863,1.367903e+00,False,True,False,1.188570
5,131876.900,-0.902751,1.290227,1.136379e+00,False,False,True,1.159266
6,134615.460,0.959067,-0.888067,1.114512e+00,True,False,False,-0.195209
7,130298.130,0.000000,0.929087,1.105200e+00,False,True,False,1.035416
8,120542.520,1.018794,0.815484,1.016062e+00,False,False,True,1.108117
9,123334.880,-0.554449,0.754050,9.543389e-01,True,False,False,0.755381
10,76788.862,-0.479207,0.051675,8.627542e-01,False,True,False,0.198568
11,100671.960,-1.218034,0.242354,8.158656e-01,True,False,False,0.197976
12,93863.750,0.178001,0.243233,7.485523e-01,False,True,False,0.434584
13,91992.390,0.499201,0.269407,7.326715e-16,True,False,False,0.300058
14,119943.240,1.326391,0.305054,5.224140e-01,False,True,False,0.627869
15,114523.610,-0.006810,0.353811,4.548054e-01,False,False,True,0.402736
16,78013.110,-0.046860,0.377617,3.811926e-01,True,False,False,0.392873
17,94657.160,0.875717,0.546477,3.403457e-01,False,False,True,0.680713
18,91749.160,-0.338476,0.660839,3.125665e-01,False,True,False,0.539542
19,86419.700,1.207206,0.000000,2.750556e-01,False,False,True,0.299073
20,76253.860,-0.350597,0.695531,1.667344e-01,True,False,False,0.522621
21,78389.470,1.217395,0.705469,-1.353968e-02,False,False,True,0.765456
22,73994.560,-0.000291,0.738651,-3.772649e-02,False,True,False,0.561745
23,76788.862,-0.669502,0.000000,-7.846521e-02,False,True,False,-0.144733
24,77044.010,0.000000,-0.768955,-8.304569e-02,False,False,True,-0.619737
25,64664.710,0.658652,-0.793153,-1.119383e-01,True,False,False,-0.526366
26,75328.870,0.838720,-0.829398,-1.539997e-01,False,True,False,-0.533550
27,72107.600,0.199383,1.200578,-1.722570e-01,False,False,True,0.917921
28,66051.520,2.351839,-0.976707,-2.157062e-01,False,True,False,-0.388814
29,65605.480,1.188265,-1.078698,-2.730470e-01,False,False,True,-0.696870
30,61994.480,-0.280894,-1.226982,-2.999093e-01,False,True,False,-1.087963
31,76788.862,1.175293,-1.253967,7.326715e-16,False,False,True,-0.757217
32,63408.860,0.252626,-1.644272,-3.630907e-01,True,False,False,-1.331942
33,55493.950,-0.775336,-0.082890,-3.794269e-01,False,True,False,-0.314170
34,46426.070,1.371439,-0.118436,-3.810914e-01,True,False,False,0.050126
35,46014.020,-1.482987,-0.167348,-3.869644e-01,False,False,True,-0.511111
36,28663.760,0.167622,-0.208023,-5.322539e-01,False,True,False,-0.282432
37,44069.950,0.000000,-0.245980,-5.513625e-01,True,False,False,-0.347937
38,20229.590,-2.233445,0.000000,-7.708853e-01,False,False,True,-0.628047
39,38558.510,-1.564139,-0.450059,-7.765067e-01,True,False,False,-0.856194
40,28754.330,-0.166760,-0.470473,-8.461354e-01,True,False,False,-0.636506
41,27892.920,-1.496216,-0.547592,-8.572393e-01,False,True,False,-0.942410
42,23640.930,-1.045188,-0.700160,-1.015847e+00,True,False,False,-1.023487
43,15505.730,0.180434,-1.742014,-1.059638e+00,False,False,True,-1.619579
44,22177.740,1.257972,-1.808707,-1.174399e+00,True,False,False,-1.507089
45,1000.230,0.053550,-2.053552,-1.181303e+00,False,False,True,-1.918957
46,1315.460,-0.274020,0.681172,-1.569878e+00,False,True,False,0.030142
47,76788.862,0.496524,0.000000,-1.744362e+00,True,False,False,-0.406814
48,542.050,-2.791579,0.000000,-1.917721e+00,False,False,True,-1.057165
49,76788.862,-0.228143,-1.652722,-2.446183e+00,True,False,False,-2.020525